<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jesen.insertpile_plugin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndPluginTalk">
        <activity
            android:name=".PluginActivity"
            android:exported="true"/>
        <activity
            android:name=".SecondActivity"
            android:exported="true" />

        <receiver android:name=".PlugStaticReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.jesen.insertpile_plugin_static_BR"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>